<!DOCTYPE html>
<html lang="en" class="dark" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/static/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
  </head>
  <body>
    <div id="app">
      <div class="logo-container">
        <img src="/static/logo.png" class="logo" />
      </div>
      <div class="welcome-container">登录到Ingot</div>
      <div shadow="never" th:v-if="|ifErrorHint('${error}')|" v-if="ifErrorHint('11')" class="error-container">
        <div class="error-text">{{ errorMessage }}</div>
        <icon-close @click="handleCloseErrorHint"></icon-close>
      </div>
      <div class="login-container">
        <form
          action="/oauth2/form"
          method="post"
          class="form-container"
          ref="loginForm"
        >
          <el-input
            v-model="username"
            name="username"
            placeholder="账号"
            clearable
            class="input-item"
            @keyup.enter="handleLogin"
          ></el-input>
          <el-input
            v-model="password"
            name="password"
            type="password"
            show-password
            clearable
            placeholder="密码"
            class="input-item"
            @keyup.enter="handleLogin"
          ></el-input>
          <el-button color="#4e8e2f" class="btn-item" @click="handleLogin">
            登录
          </el-button>
        </form>
      </div>
    </div>
    <script type="module" src="/src/views/login/main.ts"></script>
  </body>
</html>
