<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingot.cloud.pms.mapper.AppRoleUserMapper">

    <insert id="insertIgnore">
        INSERT IGNORE INTO app_role_user(role_id, user_id)
        VALUES (#{roleId}, #{userId})
    </insert>

    <select id="getRoleUsers" resultType="com.ingot.cloud.pms.api.model.domain.AppUser">
        SELECT u.*
        FROM app_user AS u
        <choose>
            <when test="isBind">
                INNER JOIN app_role_user AS ru ON ru.user_id = u.id
                WHERE ru.role_id = #{roleId}
            </when>
            <otherwise>
                LEFT JOIN (SELECT ru.user_id
                FROM app_role_user AS ru
                WHERE ru.role_id = #{roleId}) AS tmp ON tmp.user_id = u.id
                WHERE tmp.user_id IS NULL
            </otherwise>
        </choose>
        <if test="condition.username != null and condition.username != ''">
            AND LOCATE(#{condition.username}, u.username) > 0
        </if>
        ORDER BY u.created_at ASC
    </select>

</mapper>
