<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingot.cloud.pms.mapper.SysApplicationMapper">

    <select id="page" resultType="com.ingot.cloud.pms.api.model.vo.application.ApplicationPageItemVO">
        SELECT app.*
        FROM sys_application AS app
                 LEFT JOIN sys_menu AS menu ON menu.id = app.menu_id
      <where>
          <if test="filter.appName != null and filter.appName != ''">
              menu.name LIKE CONCAT('%', #{filter.appName}, '%')
          </if>
      </where>
        ORDER BY app.menu_id DESC
    </select>
</mapper>
