<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingot.cloud.pms.mapper.SysRoleOauthClientMapper">

    <insert id="insertIgnore">
        INSERT IGNORE INTO sys_role_oauth_client(role_id, client_id)
        VALUES (#{roleId}, #{clientId})
    </insert>

    <select id="getClientsByRole" resultType="com.ingot.cloud.pms.api.model.domain.Oauth2RegisteredClient">
        SELECT client.*
        FROM oauth2_registered_client AS client
                 INNER JOIN sys_role_oauth_client AS rc ON rc.client_id = client.id
        WHERE rc.role_id = #{roleId}
    </select>
</mapper>
