<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingot.cloud.pms.mapper.SysRoleMenuMapper">

    <insert id="insertIgnore">
        INSERT IGNORE INTO sys_role_menu(role_id, menu_id)
        VALUES (#{roleId}, #{menuId})
    </insert>

    <select id="getRoleMenus" resultType="com.ingot.cloud.pms.api.model.domain.SysMenu">
        SELECT menu.*
        FROM sys_menu AS menu
                 INNER JOIN sys_role_menu AS rm ON rm.menu_id = menu.id
        WHERE
        <choose>
            <when test="isBind">
                rm.role_id = #{roleId}
            </when>
            <otherwise>
                rm.role_id &lt;&gt; #{roleId}
            </otherwise>
        </choose>
        ORDER BY menu.sort ASC
    </select>

</mapper>
