<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingot.cloud.pms.mapper.SysRoleUserDeptMapper">

    <select id="getRoleUserDeptIdsByDeptAndRole" resultType="java.lang.Long">
        SELECT rud.id
        FROM sys_role_user_dept AS rud
            INNER JOIN sys_role_user AS rru ON rru.id = rud.role_user_id
        WHERE rud.deptId = #{deptId} AND rru.roleId = #{roleId}
    </select>

</mapper>
