<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingot.cloud.pms.mapper.SysRoleAuthorityMapper">

    <insert id="insertIgnore">
        INSERT IGNORE INTO sys_role_user(role_id, authority_id)
        VALUES (#{roleId}, #{authorityId})
    </insert>

    <select id="getRoleAuthorities" resultType="com.ingot.cloud.pms.api.model.domain.SysAuthority">
        SELECT auth.*
        FROM sys_authority AS auth
                 INNER JOIN sys_role_authority AS ra ON ra.authority_id = auth.id
        WHERE
        <choose>
            <when test="isBind">
                ra.role_id = #{roleId}
            </when>
            <otherwise>
                ra.role_id &lt;&gt; #{roleId}
            </otherwise>
        </choose>
        ORDER BY auth.created_at ASC
    </select>

</mapper>
