<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingot.cloud.pms.mapper.SysRoleDeptMapper">

    <insert id="insertIgnore">
        INSERT IGNORE INTO sys_role_dept(role_id, dept_id)
        VALUES (#{roleId}, #{deptId})
    </insert>

    <select id="getRoleDepts" resultType="com.ingot.cloud.pms.api.model.domain.SysDept">
        SELECT dept.*
        FROM sys_dept AS dept
            <if test="isBind">
                INNER JOIN sys_role_dept AS rd ON rd.dept_id = dept.id
            </if>
        WHERE
        <where>
            <if test="isBind">
                AND rd.role_id = #{roleId}
            </if>
            <if test="condition.name != null and condition.name != ''">
                AND LOCATE(#{condition.name}, dept.name) > 0
            </if>
        </where>

    </select>

</mapper>
