<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingot.cloud.pms.mapper.SysRoleOauthClientMapper">

    <insert id="insertIgnore">
        INSERT IGNORE INTO sys_role_oauth_client(role_id, client_id)
        VALUES (#{roleId}, #{clientId})
    </insert>

    <select id="getRoleClients" resultType="com.ingot.cloud.pms.api.model.domain.SysOauthClientDetails">
        SELECT
            client.*
        FROM
            sys_oauth_client_details AS client
                <if test="isBind">
                    INNER JOIN sys_role_oauth_client AS rc ON rc.client_id = client.id
                </if>
        WHERE
        <choose>
            <when test="isBind">
                rc.role_id = #{roleId}
            </when>
            <otherwise>
                client.id NOT IN (
                SELECT
                    rc.client_id
                FROM
                    sys_role_oauth_client AS rc
                WHERE
                    rc.role_id = #{roleId}
                )
            </otherwise>
        </choose>
        <if test="condition.clientId != null and condition.clientId != ''">
            AND LOCATE(#{condition.clientId}, client.clientId) > 0
        </if>
        ORDER BY client.created_at ASC
    </select>

</mapper>
