<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingot.cloud.pms.mapper.SysRoleAuthorityMapper">

    <select id="getAuthoritiesByRole" resultType="com.ingot.cloud.pms.api.model.domain.SysAuthority">
        SELECT auth.*
        FROM sys_authority AS auth
                 INNER JOIN sys_role_authority AS ra ON ra.authority_id = auth.id
        WHERE ra.role_id = #{roleId}
    </select>

</mapper>
